<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <meta name="renderer" content="webkit|ie-stand|ie-comp">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>监控系统</title>
    <link rel="stylesheet" href="../static/css/index.css" type='text/css'/>
</head>
<body>
<div id="content">
    <h1 align="center" style="color: whitesmoke;">视频流媒体直播</h1>
    <div class="top">
        <div class="recorder" id="recorder" align="center">
            <div class="btn-group">
                <button id="record" class="btn green">录制视频</button>
                <button id="stop" class="btn red">暂停录制</button>
                <button class="btn blue" onclick="window.location.href='{{ url_for('user.logout') }}'">退出登录</button>
                <button class="btn yellow disabled" disabled id="download">download</button>
            </div>
            <script type="text/javascript" src="{{ url_for('static', filename='recorder.js') }}"></script>
        </div>
    </div>
    <img id="video" src="{{ url_for('home.video_viewer') }}" alt="video">
</div>
</body>
</html>
